.detail-container{
  transition: width .3s;
}
.detail-container.off{
  width: 0;
  transition: width .3s;
  height: 0;
}
.detail-container.on{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 370px;
  height: 100vh;
  background: #fff;
  box-shadow: #c1c1c1 0px 1px 4px;
}
.detail-open-button-container{
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-100%);
  width: 25px;
  height: 50px;
  background: #efefef;
  box-shadow: #c1c1c1 2px 1px 2px;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  z-index: 30;
  color: var(--color3);

}
.detail-open-button-container:active{
  background: #e6e6e6;
}
.detail-close-button-container{
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-100%);
  width: 25px;
  height: 50px;
  background: #fff;
  box-shadow: #c1c1c1 2px 1px 2px;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color3);
}
.detail-close-button-container:active{
  background: #e6e6e6;
}
.detail-header{
  width: 100%;
  height: 60px;
  background: var(--color3);
}
.detail-body{
  overflow: scroll;
  scrollbar-width:thin;
  width: 100%;
  height: calc(100vh);
  padding-bottom: 350px;
}
.detail-content-container{
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
}
.detail-content-container:hover{
  background: #efefef;
}
.detail-content-container.clicked{
  background: #efefef;
}
.detail-content-header{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 100vh;
}
.detail-content-name{
  display: inline-block;
  padding: 0;
  margin: 0;
  max-width: 230px;
  font-size: 1rem;
  font-weight: bold;
  text-overflow: ellipsis;
}
.detail-content-type{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  padding: 2px;
  border-radius: 100vh;
}

.detail-content-type svg{
  font-size: .9rem;
  margin-right: 2px;
}
.detail-content-type p{
  margin: 0;
  padding: 0;
  font-size: .8rem;
  font-weight: bold;
}

.detail-content{
  width: 100%;
  height: 40px;
  border-radius: 5px;
}
.detail-content>div{
  display: flex;
  align-items: center;
}
.detail-content p{
  margin: 0;padding: 0;
  display: block;
  width: 320px;
  font-size: .9rem;
}
.detail-content-type.flood{
  border-color: var(--flood);
}
.detail-content-type.temporary_housing{
  border-color: var(--temporary);
}
.detail-content-type.earthquake{
  border-color: var(--earthquake);
}
.detail-content-type.hot{
  border-color: var(--swelter);
}
.detail-content-type.cold{
  border-color: var(--severeCold);
}

.detail-content-temporary{
  width: 100%;
  height: 80px;
  border-radius: 5px;
}
.detail-content-temporary p{
  margin: 0;padding: 0;
  display: block;
  width: 320px;
  font-size: .9rem;
}
.detail-content-temporary>div{
  display: flex;
  align-items: center;
}
.detail-content-temporary>div svg{
  margin-right: 5px;
}
.detail-address-icon{
  color: #e19d13;
  font-size: 1rem;
}
.detail-number-icon{
  color: #0c9637;
}
.detail-volume-icon{
  color: #162b91;
}
