/* MapPage */
.map-page-container{
  width: 100vw;
  height: 100vh;
}
.nav-container{
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;

  width: 100vw;
  height: 60px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  /* background: #aaa; */
}

.nav-left-container{
  /* background: #000; */
  height: 100%;
  display: flex;
  position: relative;
}
.nav-button{
  box-shadow: #969696 0px 2px 3px, #a5a5a5 0px -0.5px 2px;
  border-radius: 5px;
  height: 40px;

  width: 350px;
  position: absolute;
  z-index: 30;
  overflow: hidden;
  display: flex;
  background: #fff;
}


.nav-logo-container{
  height: 40px;
  width: 120px;
  background: var(--color1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
}
.nav-logo-container p{
  font-size: 1rem;
  font-weight: 700;
  color: #efefef;
  user-select: none;
}
.nav-logo-container .menu-icon{
  color: #efefef;
}
.nav-logo-container .logo-icon{
  color: var(--color7);
}


.nav-input-container{
  height: 40px;
  width: 230px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.nav-input-container input{
  all: unset;
  height: 40px;
  width: 185px;
  font-weight: bold;
  font-size: .9rem;
}
.search-icon{
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 5px;
  color: #aaa;
  cursor: pointer;
}
.search-icon:hover{
  color: var(--color1);
}
.nav-button-text{
  box-shadow: #969696 0px 2px 3px, #a5a5a5 0px -0.5px 2px;
  border-radius: 50vh;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: #fff;
}
.nav-button-text p{
  margin: 0;
  margin-left: 5px;
  padding: 0;
  font-size: .8rem;
  font-weight: bold;
  user-select:none
}
.nav-button-text:active{
  box-shadow: #c1c1c1 0px 1px 4px;
}
.nav-button-text:nth-child(1).on{
  box-shadow: var(--flood) 5px 5px 7px;
  height: 36px;
  border: 3px solid var(--flood);
}
.nav-button-text:nth-child(2).on{
  box-shadow: var(--swelter) 5px 5px 7px;
  height: 36px;
  border: 3px solid var(--swelter);
}
.nav-button-text:nth-child(3).on{
  box-shadow: var(--severeCold) 5px 5px 7px;
  height: 36px;
  border: 3px solid var(--severeCold);
}


.nav-button-profile{
  box-shadow: #969696 0px 2px 3px, #a5a5a5 0px -0.5px 2px;
  border-radius: 50vh;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fff;
}
.nav-button-profile:active{
  box-shadow: #c1c1c1 0px 1px 4px;
}
.nav-button-profile{
  font-size: 1.5rem;
}
.flood-icon{
  color: var(--flood);
}
.swelter-icon{
  color: var(--swelter);
}
.severeCold-icon{
  color: var(--severeCold);
}

.nav-right-container{
  display: flex;
  align-items: center;
  z-index: 10;
}
.nav-right-container>.nav-button-text{
  margin-left: 10px;
}

.right-map-button-container{
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0,-120px);
  width: 50px;
  height: 100px;
  /* background: #000; */
  padding: 10px;
}
.right-map-button{
  width: 30px;
  height: 30px;
  border: 1px solid #333;

  box-shadow: #969696 0px 2px 3px, #a5a5a5 0px -0.5px 2px;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.right-map-button:active{
  box-shadow: #c1c1c1 0px 1px 4px;
}
.right-map-button p{
  font-size: .7rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #ff4120
}

.reset-button-container{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;

  width: 200px;
  height: 70px;
  
  z-index: 10;
}
.reset-button{
  border-radius: 50vh;
  width: 100%;
  height: 100%;
  background-color: var(--color3);
  box-shadow: #969696 0px 2px 3px, #a5a5a5 0px -0.5px 2px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.reset-button svg{
  font-size: 1.2rem;
  margin-right: 5px;
  color: var(--color7);
}
.reset-button p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  user-select: none;
}
.reset-button:active{
  box-shadow: #c1c1c1 0px 1px 4px;

}

.map{
  user-select: none;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}
.detail-container{
  transition: width .3s;
}
.detail-container.off{
  width: 0;
  transition: width .3s;
  height: 0;
}
.detail-container.on{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 370px;
  height: 100vh;
  background: #fff;
  box-shadow: #c1c1c1 0px 1px 4px;
}
.detail-close-button-container{
  position: absolute;
  top: 60px;
  right: -50px;
  width: 50px;
  height: 50px;
  background: #efefef;
  box-shadow: #c1c1c1 2px 1px 2px;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
}
.detail-close-button-container:active{
  background: #e6e6e6;
}
.detail-header{
  width: 100%;
  height: 60px;
  background: var(--color1);
}

