/* Colors */
:root {
  --color1 :#1d4360;
  --color2 :#265278;
  --color3 :#05647b;
  --color4 :#058aa9;
  --color5 :#53a8b6;
  --color6 :#82d1ca;
  --color7 : #ffd903;
  --flood : #6677bb;
  --swelter : #ff532c;
  --severeCold : #0ca6dd;
  --earthquake: #13c38b;
}

*{
  box-sizing: border-box;
}
body{
  scrollbar-width: thin;
    scrollbar-color: #ffd903a0 rgba(255, 255, 255, 0);
}
body::-webkit-scrollbar {
	
}

/* 스크롤바 막대 꾸미기 */
body::-webkit-scrollbar-thumb {
	
}

/* 스크롤바 트랙 꾸미기 */
body::-webkit-scrollbar-track {
	
}